body {
	background-color: rgb(21, 32, 43);
}

.page-title {
	display: block !important;
	color: white;
	text-align: center;
	font-size: 2rem;
	margin-top: 10px;
}
.create-post-title {
	color: white;
}

.form-container {
	max-width: 100%;
	margin: auto;
}

label {
	color: white !important;
}

.item {
	color: white !important;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
	background-color: #00b5ad;
}

.ui.grid {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
